div#wrapper {
    color: white;
    min-width: 400px;
    padding-top: 0.00001em;
    background-color: black;
    margin: auto;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: #444444;
}

div#div_main {
    position: relative;
}

div#div_header {
    text-decoration-color: white;
    background-color: black;
    margin: 4px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0.4em;
}

div#div_content {
    background-color: rgb(228, 184, 91);
    padding: 1em 0;
    min-height: 400px;
}

div#div_subcontent {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    margin: 2em;
    padding: 2em;
}

div#div_subcontent input {
    padding: 5px;
}

div#div_content {
    background-image: url("Driver Picture/rpd.jpg");
    background-size: contain;
    text-align: center;
}

div#div_footer {
    color: white;
    font: large;
    font: bolder;
    font-size: xx-large;
    min-width: 400px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    background-color: black;
    margin: auto;
    width: 100%;
}

div#div_footer:before {
    text-decoration: white;
    ;
}

.form input[type="Email"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Password"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Confirm Password"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="First Name"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Last Name"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form label {
    font-size: large;
}

.form input[type="Occupation"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Phone Number"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Driver License ID"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Birth Date"] {
    padding-left: 0.00001em;
    padding-right: 0.00001em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Birth Month"] {
    padding-left: 0.00001em;
    padding-right: 0.000001em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Birth Year"] {
    padding-left: 0.00001em;
    padding-right: 0.00001em;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Submit"] {
    color: white;
    background-color: orange;
    border: none;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="checkbox"] {
    display: block;
}

.form select {
    padding: 4px 2px;
    display: block;
    margin: 2px 2px 10px 10px;
}

.center {
    text-align: center;
}

.center .Submit {
    background-color: #FFAD53;
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 250px;
    transition: background-color 0.2s;
}

.center .Submit:hover {
    background-color: #ff8400;
}