div#wrapper {
    color: white;
    min-width: 400px;
    padding-top: 0.00001em;
    /*Set border to 1pixel solid line with black color*/
    /*border: 1px solid black;*/
    /*Set background color to #F2C063*/
    background-color: black;
    /*Set margin to auto*/
    margin: auto;
    /*Set width to 60%*/
    width: 100%;
    /*Use border-top-left-radius and border-top-right-radius to make round cornors. Set them to 10px*/
    /*border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
}

body {
    font-family: sans-serif;
    /*Set background color to #444444*/
    background-color: #444444;
}

div#div_main {
    position: relative;
}

div#div_header {
    /*Set font size to 2em, font family to sans-serif, font weight to 700, and font variant to small-caps */
    text-decoration-color: white;
    background-color: black;
    margin: 4px;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0.4em;
    /*Set bottom border to 1 pixel, solid line, with color #BF491F*/
    /*color: #BF491F;*/
}

div#div_content {
    /*Set background color to white*/
    background-color: rgb(228, 184, 91);
    /*margin-left:25%;*/
    padding: 1em 0;
    min-height: 400px;
}

div#div_subcontent {
    /*Set background color to white*/
    background-color: rgba(0, 0, 0, 0.849);
    margin: 2em;
    padding: 2em;
}

div#div_content {
    background-image: url("Restaurant Picture/rpr.jpg");
    background-size: contain;
    text-align: center;
}

div#div_footer {
    color: white;
    font: large;
    font: bolder;
    font-size: xx-large;
    min-width: 400px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    /*Set border to 1pixel solid line with black color*/
    /*border: 1px solid black;*/
    /*Set background color to #F2C063*/
    background-color: black;
    /*Set margin to auto*/
    margin: auto;
    /*Set width to 60%*/
    width: 100%;
}

div#div_footer:before {
    text-decoration: white;
    ;
}

.form input[type="Email"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Password"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Confirm Password"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Restaurant Name"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Opening Days"] {
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Opening Time"] {
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Closing Time"] {
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Phone Number"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Main Address"] {
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form label {
    font-size: large;
}

.form input[type="Restaurant Type"] {
    padding-left: 4.5em;
    padding-right: 4.5em;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="Submit"] {
    color: white;
    background-color: orange;
    /*Set width to 150 pixels to have a big submit button*/
    text-align: center;
    width: 150px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="checkbox"] {
    display: block;
}

.form select {
    padding: 4px 2px;
    display: block;
    margin: 2px 2px 10px 10px;
}

.center {
    text-align: center;
}

.center label {
    transition: color 0.3s;
}

.center .Submit {
    background-color: #FFAD53;
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 250px;
    transition: background-color 0.2s;
}

.center .Submit:hover {
    background-color: #ff8400;
}