div#wrapper {
    color: white;
    min-width: 400px;
    padding-top: 0.00001em;
    background-color: black;
    margin: auto;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: #444444;
}

div#div_main {
    position: relative;
}

div#div_header {
    background-color: #FFCB90;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
}

div#div_main {
    justify-content: right;
    display: flex;
    padding: 2%;
}

#button1 {
    margin: 5px 5px;
    background-color: #e78f30;
    outline: none;
    font-weight: border;
    color: black;
    border-radius: 20px;
    border: none;
    width: 15%;
    height: 30px;
}

#button2 {
    margin: 5px 5px;
    background-color: white;
    outline: none;
    font-weight: border;
    color: black;
    border-radius: 20px;
    border: none;
    width: 15%;
    height: 30px;
}

div#div_content {
    background-color: rgb(228, 184, 91);
    display: flex;
}

div#div_subcontent {
    background-image: url("Main Page Picture/mpp2.png");
    background-size: contain;
}

div#div_footer {
    color: white;
    font: large;
    font: bolder;
    font-size: xx-large;
    min-width: 575px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    margin: auto;
    width: 100%;
}

div#div_footer:before {
    text-decoration: white;
    ;
}

h2 {
    color: white;
    font-weight: bold;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 2em;
    border-bottom: 1px dotted line #E47F5A;
    padding-left: 1em;
}

h3 {
    color: black;
    font-size: small;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: 1px dotted line #E47F5A;
    padding-left: 1em;
}

.form label {
    font-size: small;
}

.form input[type="Register"] {
    background-color: orange;
    text-align: center;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form input[type="checkbox"] {
    display: block;
}

.form select {
    padding: 4px 2px;
    display: block;
    margin: 2px 2px 10px 10px;
}

.center {
    text-align: center;
}

#mpp1 {
    height: 250px;
    width: 250px;
}

.right {
    flex: 50%;
    text-align: right;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.left {
    flex: 50%;
    text-align: left;
    float: left;
}

.right1 {
    flex: 50%;
    text-align: right;
    float: right;
    height: 300px;
    width: 200px;
}

.left1 {
    flex: 50%;
    text-align: left;
    float: left;
    height: 300px;
    width: 200px;
}

.RegisterButton button:hover {
    background-color: #e78f30;
}