* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("UI Pictures/pexels-vanessa-loring-5966646.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.LogoContainer {
    width: 100%;
    background-color: #222831;
}

.CategoryRow {
    margin-top: 55px;
}

.AddressBox {
    margin-left: 55px;
    position: relative;
    font-size: 25px;
    opacity: 0.9;
}

.PromotionCol {
    margin-right: 55px;
}

.CategoryCol a,
.PromotionCol a,
.RestaurantCol a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.CategoryCol a:hover,
.PromotionCol a:hover,
.RestaurantCol a:hover {
    color: #FFAD53;
}

.CategoryCol,
.PromotionCol,
.RestaurantCol {
    position: relative;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.OrderRow {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
}

.OrderRow h3 {
    color: white;
}

.RestaurantContainer {
    width: 494px;
    height: 175px;
}

.RestaurantContainer img {
    object-fit: cover;
    height: 175px;
    width: 494px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.RestaurantContainer img:hover {
    transform: scale(1.1);
}

.MainSelections {
    margin-left: 3%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}


/* Modal Content */

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/*
.CategoryCol {
    left: 19%;
}

.RestaurantCol {
    left: 10%;
}
*/


/*
.AddressBox .Address {
    width: 55%;
    text-indent: 2%;
    transition: width .35s ease-in-out;
    -webkit-transition: width .35s ease-in-out;
}

.AddressBox input[type=text]:focus {
    width: 100%;
}*/